@media (min-width: 40rem)
{
  body
  {
    width: 100%;
    transform: none !important;
  }
  
  /* make app content a little wider */
  article
  {
    flex: 3;
  }
  
  /* centre sections */
  article section 
  {
    max-width: 40rem;
    margin: auto;
  }
  
  /* hide menu button */
  nav a.toggle
  {
    display: none;
  }
}