article
{
  position: relative;
}

article section
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  
  padding: .5em;

  opacity: 0;
  transition: opacity .4s;
  
  pointer-events: none;
}

article section.active
{
  opacity: 1;
  z-index: 1;
  
  pointer-events: auto;
}
